<%= form_with(model: @calendar, local: true) do |form| %>
  <%= form.hidden_field :group_id, :value => @calendar.group.id %>
  
  <div class="title">
    <%= form.label :イベント %>
    <%= form.text_field :title %>
  </div>

    <div class="time">
    <%= form.label :開始時間 %>
    <%= form.datetime_select :start_time %>
  </div>

  <div style="display:inline-flex">
    <div class="content">
      <%= form.label :メモ %>
      <%= form.text_field :content %>
    </div>


    <div class="submit">
      <%= form.submit "保存"%>
    </div>
  </div>
<% end %>

<br>
<%= link_to "カレンダーへ", group_calendars_path(@calendar.group_id) %>
<%= link_to "チャットへ", calendar_calendar_messages_path(@calendar.id, anchor: 'page_bottom') %>