<div class="fixed-bottom">
  <%= form_with(model: @calendar_message, url: calendar_calendar_messages_path, local: true) do |form| %>
    <div style="display:inline-flex">
      <div class="message">
        <%= form.text_area :message, placeholder: "メッセージを入力", class: "textarea" %>
      </div>
      
      <div class="submit">
        <%= form.submit "送信" %>
      </div>
    </div>
    
    <div class="f_field">
      <%= form.file_field :image %>
    </div>
    <div class="bts">
    <%= link_to("カレンダーへ", group_calendars_path(@calendar.group_id), {class: "gotoCaledar"})%>
    <a  class = "up_button" href = "#page_top">最上段から読む</a>
    </div>

  <% end %>

  <div class = "page_bottom" id = 'page_bottom'></div>
</div>
