<%= link_to "カレンダーへ", group_calendars_path(@calendar.group_id) %>
<br>
<br>
<%= form_with(model: @calendar_message, url: calendar_calendar_messages_path, local: true) do |form| %>
  <div class="field">
    <%= form.file_field :image %>
  </div>
  
  <div style="display:inline-flex">
    <div class="message">
      <%= form.text_area :message, placeholder: "メッセージを入力" %>
    </div>
    
    <div class="submit">
      <%= form.submit "送信" %>
    </div>
  </div>
<% end %>

