<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Yomogi&display=swap" rel="stylesheet">
<body class = "message_page">
<div class="book">
<div class="diary">
<% @calendar_messages.each do |message| %>
  <% if message.user.id == current_user.id %>
    <div class="d-flex justify-content-end">
      <%= message.user.username %>:
      <%= message.created_at.to_s(:datetime) %>
      <%= link_to '削除', calendar_calendar_message_path(id: message.id), method: :delete, data: { confirm: '本当に削除しますか？' } %>
      <div class = "messages"> <%= simple_format(message.message) %> </div>
      <%= image_tag message.image.to_s %>
    </div>
  <% else %> 
    <%= message.user.username %>:
    <%= message.created_at.to_s(:datetime) %>
    <div class = "messages"> <%= simple_format(message.message) %> </div>
    <%= image_tag message.image.to_s %>
  <% end %>
<% end %></div>
</div>



<%= form_with(model: @calendar_message, url: calendar_calendar_messages_path, local: true) do |form| %>
  <div style="display:inline-flex">
  

  
    <div class="message">
      <%= form.text_area :message, placeholder: "メッセージを入力", class: "textarea" %>
    </div>
    
    <div class="submit">
      <%= form.submit "送信" %>
    </div>
  </div>
  
  <div class="f_field">
    <%= form.file_field :image %>
  </div>
  <div class="bts">
  <%= link_to("カレンダーへ", group_calendars_path(@calendar.group_id), {class: "gotoCaledar"})%>
  <a  class = "up_button" href = "#page_top">最上段から読む</a>
  </div>

<% end %>


</body>



<div class = "page_bottom" id = 'page_bottom'></div>
