<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Yomogi&display=swap" rel="stylesheet">

<div class="book">
<div class="diary col-b">
<h2 class="col-b"><%= @calendar.title %></h2><br>
<% @calendar_messages.each do |message| %>
  <% if message.user.id == current_user.id %>
    <%= message.user.username %>:
    <%= message.created_at.to_s(:datetime) %>
    <%= link_to('Delete', calendar_calendar_message_path(id: message.id), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "del") %>
    <div class = "messages"> <%= simple_format(message.message, class: "col-b") %> </div>
    <div><%= image_tag message.image.to_s %></div>
  <% else %> 
    <%= message.user.username %>:
    <%= message.created_at.to_s(:datetime) %>
    <div class = "messages"> <%= simple_format(message.message, class: "col-b") %> </div>
    <div><%= image_tag message.image.to_s %></div>
  <% end %>
<% end %></div>
</div>


<%= render "calendar_messages/footer" %>